{% include directory ~ '/partials/header.html.twig' %}
<div class="container">
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-content">
      <div class="article-list">
        {{ page.content }}
      </div>
    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
        {{ page.latest_movies }}
      </aside>
    {% endif %}
  </main>
  <article class="movie">
    <header>
      {{ title }}
    </header>

    <div class="image">
      {{ field_movie_ }}
    </div>

    <div class="movie-content">
      {{ view_node }}
    </div>
  </article>

</div>{# /.layout-container #}

{% if page.footer %}
  <footer role="contentinfo">
    this is footer
    {{ page.footer }}
  </footer>
{% endif %}
